@import url("https://www.cssfontstack.com/ITC-Franklin-Gothic");

.logo {
    margin-left: 20px;
    width: 100px;
    background-color: darkgreen;
    align-items: bottom;
}

body{
    background-color: black;
    padding: 25px;
    margin: 25px;
}

.body {
    display: grid;
    grid-template-columns: 2fr 1fr 15fr;
    grid-template-rows: 1fr;
    background-color: black;
    color: green;
    outline: 2px solid darkgreen;
    font-family: 'ITC-Franklin-Gothic';
    font-size: large;
    padding: 25px;
    margin: 25px;
    max-width: fit-content;
}

.nav-tabs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-template-rows: 2;
    margin: 5px;
    font-size: x-large;
    background-color: black;
}

a:link {
    color: green
}
a:visited {
    color: green
}
a:hover {
    color: lawngreen
}
a:active {
    color: lawngreen
}